.box {
	width:31%;
	height:700px;
	background:#1a0c2b;
	margin:10px;
	box-sizing: border-box;
	border-radius:20px;
	padding:20px;
	margin-bottom:100px;
	
	background-image: url("../assets/paper.jpg");
	background-repeat:repeat;
	background-position:top center;
	background-attachement:fixed;
	color:#333;
	
	box-shadow: 1px 1px 23px -1px rgba(0,0,0,0.25);
-webkit-box-shadow: 1px 1px 23px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 1px 23px -1px rgba(0,0,0,0.25);

}

.box .icon  {
	width:auto;
	height:auto;
	margin:0px;
	margin-top:-80px;
	

}

.box .icon i {
	font-size:60px;

}


.box .name {
font-family: 'Roboto Condensed', sans-serif;
font-size:30px;
}

.box .sub {
font-size:20px;
height:100px;
font-family: 'Assistant', sans-serif;
}

.box  i {
	color: green;
	margin-right:10px;
}

.box p {
	text-align:left;
	margin-left:7px;
	font-size:14px;
}

.box .list {
	height:210px;
	font-size: 0.875rem;
}

.box .list ul {
	padding-left:20px; 
	list-style:none;
	text-align:left;
}

.box .list ul li {
	margin-bottom:10px; 
	display: flex;
    flex-direction: row;
}
.box .list ul li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
	color: green;
	padding-right:5px;
}
.box .price {
	font-size:50px;
}

.box {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(
    120deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
	#ff2400
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  animation: move 20s linear infinite;
  opacity: 0; /* setting this to 1 shows all moving gradients without even having to hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}

.box:hover::before {
  opacity: 0;
}

.box:hover::after {
  opacity: 1; /* when this opacity is set to 0, whole box will become rainbow hues when hover because the plaque layer is transparent. changing it to 0.7-0.9 also gives it translucent effect and you can see the rainbow gradient at the back.*/
}
/*
.box::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  
  background: #333; 
  

  background: linear-gradient(
    110deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
	#ff2400
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(50px);
  animation: move 50s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}
*/

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width:768px) {
	.navbar {
		margin-bottom: 0px;
		}
		
	.splash {
		margin-top:0px;
	}

	.splash img {
		width:100%;
		margin:0;
		padding:0;
	}

	.brand  {
		width:100px;
		height:auto;
	}

	.box {
		width:75%;
		background-size: 100% auto;
	}
	
	.or  {
		position:relative;
		display: flex;
		width:100%;
		text-align:center;
		justify-content: center;

	}

}


/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.box {
		width:40%;
	}
	.masonry {
		column-count: 2;
	}
	.masonry.gutterless .brick {
		margin-bottom: 1px;
	}
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
	section {
		width:100%;
	}
	
	#section_masonry  .containerx {
		width:100%;
		background: #000;
	}
	
	.masonry {
		width:100%;
	}

	.box {
		width:100%;
		border:1px solid blue;
	}
	
	.masonry {
		column-count: 5;
	}
	.masonry.gutterless .brick {
		margin-bottom: 1px;
	}
}