/* Custom */

/*

    font-family: 'Archivo Narrow', sans-serif;

    font-family: 'Assistant', sans-serif;

    font-family: 'Inter', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Passion One', cursive;

    font-family: 'Roboto', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
	
*/

body {
  overflow: scroll; /* Show scrollbars */
  background-image: url("");
  background-size:100% 1400px; /* 593px; 893px, 1400!!, 100% */
  background-repeat:no-repeat;
  background-color: #e9eaee;

  line-height: 1.618;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
font-family: 'Assistant', sans-serif;
	font-size:50px;
	color:#b52fa6;
	text-align:center;
	font-weight:normal;
	margin:0;
}

h2 {
	font-family: 'Assistant', sans-serif;
	font-size:30px;
	color:#b52fa6;
	text-align:center;
	font-weight:normal;
	margin:0;
	margin-bottom:20px;
}

h3 {
	color:#552180;
	font-size:1.5em;
}

section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}


.containerx {
	width:1024px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}

.navbar {
	background:#e2dfe3; /* skin #fdf0ee */;
	height:58px;
}

.brand {
	width:200px;
}

#before {
  width:200px;
}

#convert {
  margin-bottom:50px;
}

.intro {
	width:100%;
	margin-bottom:50px;
}

#getstarted {
	justify-content:center;
}
#getstarted .containerx {
	width:auto;
}

.or  div {
	color: #d799e1;
	font-size:20px;
	margin:14px;
}

#about .containerx:nth-child(2) {
	background-image: url("../assets/dotted_line.png");
	background-size:699px 10px; /* 593px; 893px, 1400!!, 100% */
	background-repeat:no-repeat;
	background-position:top center;
	background-attachement:fixed;
	margin-top:50px;
}

#about .containerx .step .number {
	border:2px solid green;
	border-radius:50%;
	width:30px;
	height:30px;
	color:lime;
	box-shadow: 0px 0px 7px 1px green;
	margin:auto;
	margin-top:-38px;
	background-color:black;
}

#about .containerx .step .short_title {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:20px;
}


.more {
	margin-bottom:200px;
	border:1px solid red;
	
	
}


.title {
	text-align:center;
	margin-bottom:30px;
}



section .steps img {
	margin-bottom:70px;
	display: block;
}

section .steps .image_divider{
	display: block;
}

section .steps .image_dotted_line {
	margin-bottom:0px;
}

section .steps .title {
	margin-bottom:30px;
}

section .steps {
	width:600px;
}

section .steps p {
	font-family: Georgia, serif;
	font-weight:normal;
	font-size:1.4em;
	color: purple;
	line-height: 1.618;
	width:100%;
}

#section_package .containerx:nth-child(2) {
	width:900px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}

#section_package .title  {
	margin-bottom:70px;
}

#section_receive .steps {
	border-bottom: 3px double rgba(0, 0, 0, 0.05);
}

#section_gallery {
	margin-bottom:50px;
}

#section_gallery .containerx .title {
	width:100%;
}

#section_gallery .containerx {
	/* border-bottom: 3px double rgba(0, 0, 0, 0.05); */
}

#section_gallery .containerx .wrapper {
	width:100%;
}



.intro h3 {
	width:100%;
	margin-bottom:30px;
	}
	

.button {
  color: rgba(255, 255, 255, .25);
  border: 3px solid rgba(255, 255, 255, .1);
  width:50%;
  padding:20px;
  display:inline-block;
}

.button:hover,
.button:active,
.button:active,
.button:focus {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, .15);
  background-color:#111;
}

.splash {
	margin-top:30px;
	margin-bottom:0px;
	text-align:center;
}

.splash img {
	width:80%;
}

.logo {
  text-align: center;
  margin-bottom:20px;
  width:40px;
}

.logosub {
  text-align: center;
}




.masonry .brick img {
  width:1024px;
}

.masonry .brick  {
  text-align:center;
}

.blockmenu img {
	margin-bottom: 10px;
}



#portfolio {
	text-align:right;
	padding-right:20px;
	border-right:1px solid #333;
}

#matrix {
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

#aesthetics {
	text-align:left;
	padding-left:20px;
	border-left:1px solid #333;
}

#section_footer {
	background:#e2dfe3;
	height:100px;
}


.copyright {
	color:#89676f;
	font-family: 'Lato', sans-serif;
	font-size:.9em;
}


#section_footer .containerx:nth-child(1) {
	margin-top:20px;
	height:50px;
}

#section_footer .containerx:nth-child(2) {
	height:15px;
}

.list-inline li {
	display: inline-block;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color:#847373;
}

/* Masonry on phones */
@media only screen and (max-width: 768px) {
  .masonry {
    column-count: 1;
  }
  
  .masonry.gutterless .brick {
    margin-bottom: 1px;
  }
  
/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 1px;
}

.masonry.bordered .brick {
  padding-bottom: 0px;
  margin-bottom: 1px;
  border-bottom: 0;
}

#portfolio {
	text-align:center;
	border-right:0;
}

#matrix {
	text-align:center;
}

#aesthetics {
	text-align:center;
	border-left:0;
}
  
.bgwhite {
	background-color:#fff;
}
  
}